// app global css in SCSS form
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {    // for hidding the step from input type number
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

.bg-violet {
  background-color: #a246c2;
}
